@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

@import "tailwindcss";

@theme {
  --color-accent: #1c3d6b;
  --color-accent-light: #e8eef6;
  --color-accent-dim: #4a6fa5;
  --color-surface: #ffffff;
  --color-lab-bg: #f4f4f0;
  --color-lab-border: #ddddd8;
  --color-muted: #a0a0a0;

  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}

body {
  background-color: var(--color-lab-bg);
  font-family: var(--font-sans);
  color: #1a1a1a;
}
